<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Изберете автомобил за работа
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="allVehiclesTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Рег. номер</th>
                    <th>Марка</th>
                    <th>Модел</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Рег. номер</th>
                    <th>Марка</th>
                    <th>Модел</th>
                </tr>
                </tfoot>
                <tbody>
                {% for vehicle in vehicles %}
                    <tr class="clickable-row" data-href="{{ path('set_vehicle', {'id': vehicle.id }) }}">
                        <td>{{ vehicle.plateNumber }}</td>
                        <td>{{ vehicle.carMake }}</td>
                        <td>{{ vehicle.carModel }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
