<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-info"></i>
        Информация за автомобил <em>{{ vehicle.plateNumber }}</em>
    </div>
    <div class="card-body">
    </div>
</div>
